<div class="container-fluid">

	<p id="notice"><%= notice %></p>

	<div>
		<p>Name: <%= @marker.name %></p>
		<p>Beschreibung: <%= @marker.description %></p>
		<p>Immobilienhai: <%= @marker.companies.last ? (link_to @marker.companies.last.try(:name), company_path(@marker.companies.last)) : '' %></p>
		<p>Koordinaten: <%= @marker.lat %>, <%= @marker.lng %></p>
	</div>

	<%= link_to 'Edit', edit_marker_path(@marker) %> |
	<%= link_to 'Back', markers_path %>
</div>